.footer{
    position: relative;
    width: 100%;
    padding:40px 10vw;
    padding-bottom: 80px;
    background: grey;
    

}
.social{
    font-size: 120%;
    margin-left: 1510px;
    text-transform: capitalize; 
    text-decoration: underline;
    color: black;  

}
.linked{
    
    text-transform: capitalize;
    margin-left: 1500px;
    color: #000;
    position: absolute;
    font-size: large;
    font-family:cursive;
    


   
}