.footer{
    background-color: grey;
    color: #fff;
    padding: 20px;
    text-align: center;
    

}
.footer a{
    
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}
.social{
    margin-top: 10px;
    text-transform: capitalize;
    color: #000;
    text-decoration: underline;

}

social a{
    display: inline;
    margin: 0 10px;
    font-size: 30px;
}


.linked{
    color: #000; 
    overflow: hidden;
}
.linked a{
    
    text-transform: capitalize;
    margin-left: 1500px;
    color: #3b5998; ;
    position: absolute;
    font-size: large;
    font-family:sans-serif;
    font-style: initial;
    text-decoration: none;
   


   
}
.linked a:hover {
    background-color: #ddd;
    color: #3b5998; 
}

.linked a.active{
    background-color: lightblue !important;
}

.about{
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: cursive;



}

.long-stuff{
    font-size: 16px;
    line-height: 2;
    font-weight: bold;
    

}

.Copyright{
    color: black;
}